
*.doctree
*.o
.cache
.coverage
.ipynb_checkpoints
.pytest_cache
.vscode
__pycache__
diff.png
doc/AddElementsByPoint.rst
doc/AddToElements.rst
doc/ArithmeticMeanByPoint.rst
doc/DewPointDepression.rst
doc/GeorgeKIndex.rst
doc/Gridcut.rst
doc/Humidex.rst
doc/InterpolationHorizontalGrid.rst
doc/LICENSE.rst
doc/Mask.rst
doc/MinMaxLevelIndex.rst
doc/MultiplyElementsBy.rst
doc/MultiplyElementsByPoint.rst
doc/SaturationVapourPressure.rst
doc/SetConstantValue.rst
doc/TemperatureDewPoint.rst
doc/VapourPressure.rst
doc/WindChill.rst
doc/WindMax.rst
doc/WindModulus.rst
doc/acknowledgements.rst
doc/addelementsbypoint.rst
doc/addtoelements.rst
doc/arithmeticmeanbypoint.rst
doc/conda_howto.rst
doc/contributing.rst
doc/dewpointdepression.rst
doc/georgekindex.rst
doc/gridcut.rst
doc/humidex.rst
doc/humidityrelative.rst
doc/humidityspecific.rst
doc/install.rst
doc/interpolationhorizontalgrid.rst
doc/interpolationhorizontalpoint.rst
doc/intro.rst
doc/mask.rst
doc/minmaxlevelindex.rst
doc/multiplyelementsby.rst
doc/multiplyelementsbypoint.rst
doc/pressure.rst
doc/requirements.rst
doc/saturationvapourpressure.rst
doc/setconstantvalue.rst
doc/temperaturedewpoint.rst
doc/tutorial.rst
doc/usage.rst
doc/vapourpressure.rst
doc/windchill.rst
doc/windmax.rst
doc/windmodulus.rst
global.lock
map.html
mydask.png
out.std
perf.png
plot.png
purge.lock
