*.o
*.doctree
__pycache__

.vscode
.cache
.ipynb_checkpoints
.pytest_cache
perf.png
plot.png
out.std
.coverage
diff.png
map.html
mydask.png
global.lock
purge.lock
doc/conda_howto.rst
doc/contributing.rst
doc/install.rst
doc/tutorial.rst
doc/usage.rst
doc/requirements.rst
doc/LICENSE.rst
doc/intro.rst
doc/acknowledgements.rst
doc/AddElementsByPoint.rst
doc/AddToElements.rst
doc/ArithmeticMeanByPoint.rst
doc/DewPointDepression.rst
doc/GeorgeKIndex.rst
doc/Humidex.rst
doc/Mask.rst
doc/MinMaxLevelIndex.rst
doc/MultiplyElementsBy.rst
doc/MultiplyElementsByPoint.rst
doc/SaturationVapourPressure.rst
doc/SetConstantValue.rst
doc/TemperatureDewPoint.rst
doc/VapourPressure.rst
doc/WindChill.rst
doc/WindMax.rst
doc/WindModulus.rst
